* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#chat {
  height: 70px;
  width: 70px;
  margin-left: 94%;
  margin-top: 35%;
  position: fixed;
}

 #image1 {
 	width: 100%;
 	height: 500px;
}

#bar {
	background: black;
	color: white;
	height: 10vh;
	margin-top:0%;
}

#bar a {
	color: white;
	font-size: 25px;
}

.main-nav ul {
  display: flex;
  justify-content: space-around;  
}

.main-nav li {
 	margin-top: 10px;	
  	text-align: center;
}

/* dos columnas con video */

#video-part {
  margin: 100px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#mail {
  background-color: yellow;
}

#button {
  border-radius: 0%;
  border: solid;
  height: 40px;
  width: 200px;
}


/* caja negra */

#caja-negra{
  background-color: black;
  color: white;
}

#cuatro-columnas {
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

#white-title{
  margin-left: 125px
  padding-top: 520px;
  position: relative;
}

.whitebold{
  margin: 15px;
  font-weight: bolder;
}


/* rectángulos con sombra */

.rectangulos {
  width: 1100px;
  border: 2px solid black;
  padding: 1em;
  margin-left: 150px;
}

#one {
  background-color: black;
  position: absolute;
  line-height: 45px;
  top: 1801px;
  margin-left: 148px;
}

#two {
  background-color: black;
  position: absolute;
  line-height: 45px;
  top: 2101px;
  margin-left: 148px;
}

#three {
  background-color: black;
  position: absolute;
  line-height: 45px;
  top: 2401px;
  margin-left: 148px;
}

#four {
  background-color: white;
  position: absolute;
  line-height: 45px;
  top: 1800px;
}

#five {
  background-color: white;
  position: absolute;
  line-height: 45px;
  top: 2100px;
}

#six {
  background-color: white;
  position: absolute;
  line-height: 45px;
  top: 2400px;
}

/* caja negra 2 */

#caja-negra2{
  background-color: black;
  color: white;
  margin-top: 1000px
}

#cuatro-columnas2 {
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

#white-title2{
  margin-left: 125px
  padding-top: 520px;
  position: relative;
}

/* caja negra 3 */

#caja-negra3{
  background-color: black;
  color: white;
  margin-top: 20px
}

#cuatro-columnas3 {
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  font-size:10px;
}

#white-title3{
  margin-left: 125px
  padding-top: 520px;
  position: relative;
}

td{
  text-decoration: underline;
}


