* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#top {
	background: black;
	color: white;
	height: 10vh;
}

#top h1, #top a {
	margin: 0;
	display: inline-block;
	padding: 0 0.5em;
	line-height: 10vh;
}

#top a {
	float: right;
}

#header1 {
	color: white;
	text-align: center;
}

#header2 {
	color: white;
	text-align: center;
}

#image1 {
	height: 500px;
}

#box {
	padding-top: 100px;
}

#button {
	color: black;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

 #map {
        height: 400px;  
        width: 100%;
       }

 #teams {
 	margin-left: 400px;
 	display: grid;
 	grid-template-columns: 250px 250px;
 	grid-column-gap: 100px;
 	grid-row-gap: 30px;
 }

 

 #gallery {
 	display: grid;
 	grid-template-columns: 100px 100px 100px;
 	grid-column-gap: 400px;
 }


 section img {
 	height: 250px;
 	width: 450px;
 }

 div img {
 	height: 300px;
 	width: 250px;
 }

 #seleccion {
 	width: 100%;
 	height: 550px;
 }

 footer {
	background: black;
	color: white;
	text-align: center;
	bottom: 0;
	width:100vw;
	padding: 1em 0;
}