@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #25272E;
}

header {
	background: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: Abril, sans-serif;
}

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 4px;
	text-align: center;
	width: 200px;
	color: white;
	font-size: 46px;
	padding: 15px 20px;
	font-family: Abril, sans-serif;
	position: relative;
}

.badge {
	background: #E25B4D;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: Abril, sans-serif;
}

#user-label {
	position: absolute;
	top: 30px;
	left: -25px;
}

#computer-label {
	position: absolute;
	top: 30px;
	right: -30px;
}

.result {
	font-size: 40px;
	color: white;
}

.result > p {
	text-align: center;
	font-weight: bold;
	font-family: Abril, sans-serif;
}


.choices {
	margin-top: 50px;
	text-align: center;
}

.choice {
	border: 4px solid white;
	border-radius: 50%;
	padding: 10px;
	margin: 0 20px;
	display: inline-block;
	transition: all 0.3s ease;
}

.choice:hover {
	cursor: pointer;
	background: #24272E;
}

#action-message {
	text-align: center;
	color: white;
	font-family: Abril, sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}



























