.extras { 
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 20px
}

img {
    height: 200px;
}

.price {
    position: absolute;
    background-color: greenyellow;
    border-radius: 50%;
}